.maincontainer {
    display: flex;
    background-color: aliceblue;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.item {
    display: flex;
    /*height: 200px;*/
    /*width: 350px;*/
    border: 1px solid black;
    padding: 10px;
    justify-content: space-between;
    background-color: cornsilk;

}

.block1 {
    display: inline-flex;
    /*border: 2px solid;*/
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
    height: 200px;
    width: 200px;


}

.setButton {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    justify-content: center;


}

.inputStyle1 {
    flex-direction: column;
    display: flex;
    border: 1px solid black;
    padding: 10px;
    justify-content: center;
}


.block2 {
    display: flex;
    /*border: 1px solid blueviolet;*/
    flex-direction: column;
    padding: 10px;
    /*border: 2px solid;*/
    justify-content: space-between;
    height: 200px;
    width: 200px;
}

.sValue {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    justify-content: center;
    background-color: white;
}

.inc_reset {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    justify-content: center;
}

.redNumber {
    display: flex;
    border: 1px solid red;
    padding: 10px;
    justify-content: center;
    color: red;
}


